.section {
  font-family: Helvetica, sans-serif;
  > div {
    max-width: 1200px;
    margin: 0px auto;
    padding: 40px 5%;
    position: relative;
  }
}

.sectionGlitch {
  background-image: url('https://s3-us-west-2.amazonaws.com/assets.site.serverless.com/images/mid-glitch.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 890px;
  font-family: Helvetica, sans-serif;
  > div {
    max-width: 1218px;
    margin: 0px auto;
    padding: 40px 0 0;
  }
}

.sectionDot {
  background-image: url('../../assets/images/dot.png');
  background-repeat: repeat;
  font-family: Helvetica, sans-serif;

}

.sectionFull {
  font-family: Helvetica, sans-serif;
  > div {
    max-width: 1218px;
    margin: 0px auto;
    padding: 40px 0 0;
  }
}

.firstSection {
  margin-top: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, .95);
  @media (max-width: 720px) {
    background-image: url('https://s3-us-west-2.amazonaws.com/assets.site.serverless.com/images/event-gateway/panel-small.png');
  }
  @media (min-width: 721px) and (max-width: 1600px) {
    background-image: url('https://s3-us-west-2.amazonaws.com/assets.site.serverless.com/images/event-gateway/panel-medium.png');
  }
  @media (min-width: 1601px) {
    background-image: url('../../assets/images/home/harddrive.png');
  }
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  composes: section;
}


.nav {
  /* display: flex; */
  display: none;
  flex-direction: row;
  @media (max-width: 960px) {
    flex-direction: column;
  }
  > * {
    display: flex;
    flex-direction: row;
    flex: 1;
    a {
      flex: 1;
    }
    &:first-child {
      border: .5px solid rgba(255, 255, 255, .3);
    }
  }
}

.navItem {
  flex: 1;
  padding: 14px 0px;
  font-size: .75em;
  line-height: 1.125em;
  text-align: center;
}

.selectedNavItem {
  background-image: url('https://s3-us-west-2.amazonaws.com/assets.site.serverless.com/images/dots-black-background.png');
  background-size: 100px;
  composes: navItem;
}

.headingAndCallToAction {
  @media (max-width: 1100px) {
    br {
      display: none;
    }
  }
  max-width: 900px;
  margin: 60px auto 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  @media (max-width: 760px) {
    flex-direction: column;
  }
}

  .heading {
    flex: 1;
    font-size: 50px;
    line-height: 1em;
    margin: .3em auto;
    @media (max-width: 480px) {
      font-size: 3em;
      line-height: 1.25em;
    }
  }

  .heading2 {
    flex: 1;
    font-size: 90px;
    line-height: 1em;
    @media (max-width: 480px) {
      font-size: 3em;
      line-height: 1.25em;
    }
  }

  .message {
    flex: 1;
    font-size: 24px;
    margin-top: 2em;
    line-height: 1em;
    @media (max-width: 480px) {
      font-size: 1.3em;
      line-height: 1.25em;
    }
  }

  .callToAction {
    transition: all 0.3s;
    margin: 60px auto 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
    @media (min-width: 760px) {
      padding-left: 20px;
    }
    > * {
      width: 100%;
    }
    > * > * {
      text-align: center;
      @media (min-width: 760px) {
        width: 240px;
      }
    }
    > *:first-child > * {
      transition: all 0.3s;
      background-color: #fd5750;
      border: 1px solid #fd5750;
      color: #fff;
      padding-top: 11px;
      padding-bottom: 11px;
      @media (max-width: 760px) {
        margin-top: 20px;
      }
    }
    > *:first-child > *:hover {
      color: #fd5750;
      border: 1px solid #fd5750;
      background-color: transparent;
    }
    > *:nth-child(2) > * {
      transition: all 0.3s;
      color: #fd5750;
      border: 1px solid #fd5750;
      padding-top: 11px;
      padding-bottom: 10px;
      cursor: pointer;
    }
    > *:nth-child(2) > *:hover {
      color: #fff;
      border: 1px solid #fff;
    }
  }

  .contactButton div:hover {
    border: solid 1px #fff;
    color: #fff;
    cursor: pointer;
  }
  .providers {
    max-width: inherit !important;
    width: 100%;
    background: #050505;
    padding: 4em;
    box-shadow: 0 2px 4px rgba(0,0,0,.4);
  }

  .providerTitle {
    color: #8C8C8C;
    font-size: 18px;
    text-align: center;
  }

  .providerLogos {
    display: flex;
    flex-direction: row;
    margin: auto;
    text-align: center;
    width: 1088px;
  }

  .providerLogos div {
    max-width: 200px;
    text-align: center;
    flex: 1;
    margin: 20px auto 5px;
  }

  .features {
    margin-top: 40px;
    display: flex;
    flex-direction: row;

    > div {
      padding-left: 30px;
      padding-right: 30px;
    }
    @media (min-width: 760px) {
      flex-direction: row;
    }
  }

  .featureHighlight {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: visible;
    margin: auto;
    text-align: center;
    > :first-child {
      line-height: 1.5em;
      font-weight: 600;
    }

    > :nth-child(2) {
      color: #d9d9d9;
      margin-top: 10px;
      line-height: 1.5em;
      margin: auto;
      margin: 0 13em;
      text-align: center;
    }

    background-image: url('../../assets/images/red-separator.png');
    background-repeat: no-repeat;
    background-position: 228px 66px;

  }

  .featureServerless {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }

  .featureTitle {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
  }

  .headingBlurbAndGraphic {

    padding: 10px 0px 30px 0px;
    text-align: center;

    img:first-child {
      width: 50px;
      margin-top: 40px;
    }

    img:nth-child(3) {
      @media (max-width: 480px) {
        display: none;
      }
    }

    > div {
      max-width: 600px;
      margin: 20px auto 0px auto;
      > :first-child {
        font-size: 1.75em;
        line-height: 1.625em;
      }
      > :nth-child(2) {
        color: #8c8c8c;
        line-height: 1.5em;
      }
    }

  }

  .sectionHeadingAndSubtitle {
    margin-top: 120px;
    margin-bottom: 60px;
    text-align: center;
  }

  .sectionHeading {
    display: inline-block;
    margin: 0px auto;
    padding: 20px 30px 0px 30px;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 20px 20px;
    font-size: 40px;
    line-height: 1.5em;
  }

  .sectionSubHeading {
    color: #8C8C8C;
    display: inline-block;
    margin: 0px auto;
    padding: 20px 30px 0px 30px;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 20px 20px;
    font-size: 18px;
    line-height: 1.5em;
  }

  .useCaseSection {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    @media (min-width: 600px) {
      flex-direction: row;
      &:nth-child(odd) {
        flex-direction: row-reverse;
      }
    }
    > div {
      flex: 1;
      padding: 0px 5%;
      &:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        > :first-child {
          font-size: 1.5em;
          margin-bottom: 10px;
        }
        > :nth-child(2) {
          color: #5b5b5b;
          line-height: 1.5em;
        }
        > :nth-child(3) {
          margin-top: 40px;
          width: 100%;
          > * {
            flex: 1;
            text-align: center;
            color: #fff;
            padding: 10px 0px;
            background-color: #fd5750;
          }
        }
      }
      &:nth-child(2) {
        > img {
          padding: 10%;
        }
      }
    }
  }

  .benefitsGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
  }

  .benefit {
    width: 100%;
    padding: 40px;
    text-align: center;
    margin: 0 auto;
    @media (min-width: 600px) {
      width: 33%;
    }
    svg {
      margin-bottom: 34px;
    }
    :nth-child(2) {
      margin-top: 12px;
      text-align: center;
      margin: 0 auto;
      position: relative;
      > :nth-child(1) {
        font-size: 32px;
        padding: 26px 0px 15px 0px;
        padding-left: 20px;
      }
    }
    div:nth-child(3) {
      margin-top: 10px;
      line-height: 1.5em;
      padding-left: 20px;
    }
  }
  
  .featuresGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
  }

  .feature {
    width: 100%;
    padding: 40px;
    text-align: center;
    margin: 0 auto;
    @media (min-width: 600px) {
      width: 33%;
    }
    svg {
      margin-bottom: 34px;
    }
    :nth-child(2) {
      text-align: center;
      margin: 0 auto;
      position: relative;
      > :nth-child(1) {
        font-size: 32px;
        padding: 26px 0px 15px 0px;
      }
    }
    div:nth-child(3) {
      margin-top: 10px;
      line-height: 1.5em;
    }
  }

  .feature:nth-child(2) {
    z-index: 9;
    :nth-child(1):not(a) {
      margin-top: 40px;
    }
    :nth-child(2) {
      margin-top: -50px;
    }
  }
  
.featuresBg {
  position: absolute;
  display: block;
  left: 33%;
  margin-top: 145px;
  z-index: 8;
}

.learnMore {
  transition: all 0.3s;
  margin: 60px auto 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  a {
    transition: all 0.3s;
    width: 80%;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #fd5750;
    border: 1px solid #fd5750;
    color: #fff;
  }
  a:hover {
    background-color: transparent;
    border: 1px solid #fd5750;
    color: #fd5750;
  }
}

.trustedBy {
  max-width: inherit !important;
  width: 100%;
  margin: auto;
  padding: 5em 4em 4em;
}

.trustedByTitle {
  color: #8C8C8C;
  font-size: 18px;
  text-align: center;
}

.trustedByLogos {
  display: flex;
  flex-direction: row;
  margin: 30px auto 10em;
  text-align: center;
  max-width: 1288px;
  width: 100%;
  :nth-child(3) {
    :nth-child(1) {
      margin-top: 16px;
    }
  }
}

.trustedByLogos div {
  max-width: 200px;
  text-align: center;
  flex: 1;
  margin: 20px auto 10px;
}
